
body{
    background-color: #0c0505;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width:100%;
    max-width:390px ;
}
header{
    width: 100%;
    position: relative;
    .container{    
        max-width: 380px;
        width: 100%;
        background-color: #c23616;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;


        h1{
            text-align: center;
            margin-left: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #fff;
        }
        .material-symbols-outlined{
            margin-right: 20px;
            a{
                text-decoration: none;
                color: #fff;
            }
        }
    }
}
aside{
    display: none;
    position: absolute;
    top: 1%;
    left: 32%;
    width: 250px;
    .container2{
        background-color: #ecf0f1;
        border-radius: 10px;

        .topo{
            display: flex;
            justify-content: space-between;
            gap: 10%;
            h2{
                font-size: 20px;
                margin-left: 20px;
            }
            span{
                a{
                    text-decoration: none;
                    color: #000;
                }
            }
        }
        h3{
            margin: 0;
            padding: 0;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        ul{
            padding: 0;
            li{
                display: flex;
                gap: 5%;
                list-style: none;
                display: flex;
                img{
                    max-width: 100px;
                    height: 70px;
                    border-radius: 10px;
                    border: 1px solid #000;
                    margin-left: 15px;
                    margin-bottom: 10px;
                }
                p{
                    margin-right: 15px;
                    font-size: 8px;
                }
                h3{
                    margin-right: 15px;
                }

            }
        }
    }
}
section {
    .container3{
        h4{
            color: #fff;
            font-size: 25px;
            margin-bottom: 50px;
            text-align: center;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .lanches{
            max-width: 360px;
            ul{
                display: grid;
                grid-template-columns: 1fr;
                padding: 0;
                margin: 0 10px;
                gap: 5%;
                li{
                    text-align: center;
                    margin-bottom: 30px;
                    img{
                        max-width: 500px;
                        border-radius: 15%;
                    }
                    .description__laches{
                        text-align: center;
                        h5{
                            
                            color: #fff;
                            margin-bottom: 5px;
                        }
                        p{
                            color: #ccc;
                            font-size: 15px;
                        }
                        span{
                            color: #f7f0f048;
                        }
                        button{
                            background-color: red;
                            color: #fff;
                            border: solid 1px #fff;
                            padding: 5px;
                            margin-top: 10px;
                            width: 100%;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }

}
